<br><br>
<section id="cookies" class="section--background-color-light section__container--padding" style="padding-left: 40px;padding-right: 40px;">
    <div class="row">
        <div class="col-xs-12">

            <h2>Politica de Cookies</h2>

            <h2>Definici&oacute;n y funci&oacute;n de las cookies</h2>

            <p>
                ¿Qu&eacute; son las cookies? Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas p&aacute;ginas web. Las cookies permiten a una p&aacute;gina web, entre otras cosas, almacenar y recuperar informaci&oacute;n sobre los h&aacute;bitos
                de navegaci&oacute;n de un usuario o de su equipo y, dependiendo de la informaci&oacute;n que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.
            </p>
            <p>
                ¿Qu&eacute; tipos de cookies utiliza esta p&aacute;gina web?
            </p>
            <ul>
                <li>Cookies propias: Son aqu&eacute;llas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.</li>
                <li>Cookies de tercero: Son aqu&eacute;llas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos trav&eacute;s de las cookies.</li>
                <li>Cookies de sesi&oacute;n: Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una p&aacute;gina web.</li>
                <li> Cookies persistentes: Son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años.
                </li>
                <li> Cookies de an&aacute;lisis: Son aqu&eacute;llas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el n&uacute;mero de usuarios y así realizar la medici&oacute;n y an&aacute;lisis estadístico de la utilizaci&oacute;n
                    que hacen los usuarios del servicio ofertado. Para ello se analiza su navegaci&oacute;n en nuestra p&aacute;gina web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.</li>
            </ul>
            <h2>Revocaci&oacute;n y eliminaci&oacute;n de cookies</h2>

            <p>
                Usted puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuraci&oacute;n de las opciones del navegador instalado en su ordenador, en caso que no permita la instalaci&oacute;n de cookies en su navegador es posible
                que no pueda acceder a alguna de las secciones de nuestra web.
            </p>
            <ul>
                <li>Para m&aacute;s informaci&oacute;n sobre como bloquear el uso de la cookies puedes hacerlo a trav&eacute;s del Navegador Chrome pulse <a href="https://support.google.com/accounts/answer/61416?hl=es">aquí</a>.</li>
                <li>Para m&aacute;s informaci&oacute;n sobre como bloquear el uso de la cookies puedes hacerlo a trav&eacute;s del Navegador Firefox pulse <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">aquí</a>.</li>
                <li>Para m&aacute;s informaci&oacute;n sobre como bloquear el uso de la cookies puedes hacerlo a trav&eacute;s del Navegador Internet Explorer pulse <a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies">aquí</a>.</li>
            </ul>
            <h2>Terceros prestadores de servicios</h2>

            <p>
                En concreto los terceros prestadores de servicios con los que hemos contratado alg&uacute;n servicio para el que es necesario la utilizaci&oacute;n de cookies son:
            </p>
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>Nombre del proveedor</th>
                    <th>Finalidad de la cookie</th>
                    <th>Descripci&oacute;n de la finalidad de la cookie</th>
                    <th>Si desea mas informaci&oacute;n sobre el uso de las cookies de este tercero</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Google</td>
                        <td>Analíticas</td>
                        <td>Analizar el tr&aacute;fico de la web</td>
                        <td><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Uso de las cookies de Google Analytics en los sitios web</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<br><br><br><br>
